version: '3.8'

services:
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  api:
    build: .
    command: uvicorn app.create_app:create_app --factory --reload --host 0.0.0.0 --port 8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - PYTHONPATH=/app
    depends_on:
      - redis

  worker:
    build: .
    command: arq app.workers.tasks.WorkerSettings
    volumes:
      - .:/app
    environment:
      - PYTHONPATH=/app
    depends_on:
      - redis
